/* RESET ROOT Cá»¦A VITE */
#root {
  margin: 0;
  padding: 0;
}

/* RESET BODY */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* LINK */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
